.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bar {
  position: sticky;
  height: 5px;
  color: orange;
  z-index: +1;
}

.store {
  font-weight: bold;
  color: blue;
  text-align: center;
}

.cart {
    color: red;
}

.purchase {
    position: fixed;
    text-align: right;
    color:pink;
}

.price {
    color: green;
    padding-left: 40px;
}

.normal-text {
  color: black;
  font-weight: normal;
}

.checkout-button {
  background-color: green;
  color: white;
  font-size: 13pt;
  height: 50px;
  width: 100px;
}
.reset-button {
    background-color: red;
    color: white;
    font-size: 13pt;
    height: 50px;
    width: 100px;
}

.product-desc {
    padding: 20px;
    color: black;
}
