.App {
}
.App-header {
  text-align: center;
  background-color: #222;
  height:auto;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}
.App-cart{
  text-align: right;
  border-radius:0%;
  font-size: 1.2em;
}
.App-cartpic{
  border-radius:0%;
  text-align:left ;

}
.App-cartpic:hover{
  background-color:red;
  animation: App-cartpic-spin infinite 1s ;
  border-radius: 100%;
}
.Item {
  border: 5px solid blue;
  margin: 0px;
  border-radius: 5px;
}
.Item-list{
  text-align: center;
  border: 5px solid red;
  border-radius:5px;
}
.Item-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:200px;
  width:200px;
}
.Item-name{
  font-size: 1.5em;
}
@keyframes App-cartpic-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Cart-list {
  background-color: white;
  color:black;
  position: absolute;
  right: 10px;
  z-index: 1;
  text-align: center;
  border-radius:5px;
}
.Cart-list:hover{

}
.Form-Item{
  text-align: right;
  display: block;
}
.Form{
  background-color: Yellow;
  padding: 20px;
}
.App-nav{
  display:flex;
  justify-content: space-around;
  border-radius: 20%;
  font-size: 1.2em;
}
.Error-Message{
  background-color: red;
  font-weight: bold;
  font-size: 1em;

}
.Fine-Print{
  font-size: 0.2em;
}
