.About-Info{
  text-align: center;
}

.App {
}
.Header-Link{
  color:cyan;
}
.App-header {
  text-align: center;
  background-color: #222;
  height:auto;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}
.App-cart{
  text-align: right;
  border-radius:0%;
  font-size: 1.2em;
}
.App-cart:hover .Cart-list {
  display:block;
}
.App-cartpic{
  border-radius:0%;
  text-align:left ;

}
.App-cartpic:hover{
  background-color:red;
  animation: App-cartpic-spin infinite 1s ;
  border-radius: 100%;
}
.Item {
  flex: 0 0 40%;
  color:black;
  font-size: 1em;
  max-width: 17rem;
  background-color: white;
  border: 5px solid blue;
  margin: 1em auto;
  border-radius: 5px;
  box-shadow: 0 0 0.3rem 0.2rem red;
  padding:0.3em;

}
.Item-list{
text-align: center;
  color: white;
  background-image:url(./shop-background.jpg);
  border: 5px solid red;
  border-radius:5px;
  padding:0.5em
}
.Item-list-flex{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.Item-img{

  margin-left: auto;
  margin-right: auto;
  height:200px;
  width:200px;
}
.Item-name{
  font-size: 1em;
}
.Item-quant{
  vertical-align: bottom;
}
@keyframes App-cartpic-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Cart-list {
  display:none;
  position: absolute;
  right: 0.5em;
  z-index: 1;
  padding: 0.5em auto;
}
.Cart-Item {
  color:black;
  font-size: 0.5em;
  max-width: 10rem;
  background-color: white;
  border: 5px solid blue;
  margin: 1em auto;
  border-radius: 5px;
  padding:0.5em ;
  box-shadow: 0 0 0.3rem 0.2rem red;
}
.Quantity{
  width:50px;
}
label{
}
.Form-Item{
  float:right;

}
.Form{
  padding: 20px;
  width:300px;
  display:inline-block;


}
.Checkout-Form{
  box-shadow: 0 0 0.3rem 0.2rem red;
  text-align: center;
  color:black;
  background-color: Yellow;

}
.App-nav{
  color: blue;
  display:flex;
  justify-content: space-around;
  border-radius: 20%;
  font-size: 1.2em;
}
.Error-Message{
  background-color: red;
  font-weight: bold;
  font-size: 1em;
}
.Fine-Print{
  font-size: 0.2em;
}
